<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Disclosure Menu | Accessible Web Components</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Optional polyfill for older browsers… -->
    <script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.4.4/webcomponents-loader.js"></script>

    <!-- Script imports and defines custom elements -->
    <script type="module" src="../awc-disclosure.js"></script>
  </head>
  <body>
    <style>
      main {
        width: 50%;
        margin: auto;
      }

      awc-tab {
        border: 1px solid black;
        padding: 20px;
      }

      awc-panel {
        padding: 20px;
        background-color: lightgoldenrodyellow;
      }

      awc-tab[selected] {
        background-color: goldenrod;
      }

      awc-panel:not(:defined),
      awc-tab:not(:defined),
      awc-tabs:not(:defined) {
        display: block;
      }
    </style>

    <main>
      <h1>Disclosure Menu</h1>

      <section>
        <h2>Example</h2>
      </section>
  </main>
</body>
</html>
